#topicSpan, #videoSpan {
  font-family: cursive;
  font-size: 23px;
}

#topicInput, #videoInput {
  font-size: 20px;
}

#submit {
  display: inline-block;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 21px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-bottom-width: 3px;
  width: 100px
}

#submitSpan {
  font-size: 12px;
}

.listOfTabs {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  font-family: sans-serif;
}

.anchorButton, #anchorButtonPlaylist {
  padding: 18px 25px 12px 25px;
  transition: all .2s ease;
  text-decoration: none;
  display: inline-block;
}
